<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
<!--    <li class="nav-item nav-profile">-->
<!--      <a href="javascript:;" class="nav-link">-->
<!--        <div class="nav-profile-image">-->
<!--          <img src="assets/images/faces/face1.jpg" alt="profile">-->
<!--          <span class="login-status online"></span> &lt;!&ndash;change to offline or busy as needed&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="nav-profile-text">-->
<!--          <span class="font-weight-bold mb-2">David Grey. H</span>-->
<!--          <span class="text-secondary text-small">Project Manager</span>-->
<!--        </div>-->
<!--        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>-->
<!--      </a>-->
<!--    </li>-->

    <li class="nav-item" [ngClass]="{'active' : resource.isActive || performance.isActive  }">
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Realtime charts</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="charts/resource" routerLinkActive="active" #resource="routerLinkActive">Resource Utilization</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="charts/performance" routerLinkActive="active" #performance="routerLinkActive">Performance Metrics</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': report.isActive }">
      <a class="nav-link" routerLink="report" routerLinkActive #report="routerLinkActive">
        <span class="menu-title">Report</span>
        <i class="mdi  mdi-paperclip menu-icon"></i>
      </a>
    </li>

  </ul>
</nav>
