
<div class="page-header">
  <h3 class="page-title">

  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Chart</a></li>
      <li class="breadcrumb-item active" aria-current="page">Resource</li>
    </ol>
  </nav>
</div>

<app-configuration></app-configuration>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Summary</h4>

      <div class="table-responsive pt-3">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              CPU utilization
            </th>
            <th>
              Memory
            </th>
            <th>
              Network Input
            </th>
            <th>
              Network Output
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              Minimum
            </td>
            <td>
              {{cpuSum[3]  | number  }}
            </td>
            <td>
              {{memSum[3]  | number  }}
            </td>
            <td>
              {{netISum[3]  / 100000| number  }}
            </td>
            <td>
              {{netOSum[3] / 100000 | number  }}
            </td>
          </tr>
          <tr>
            <td>
              Maximum
            </td>
            <td>
              {{cpuSum[4]  | number }}
            </td>
            <td>
              {{memSum[4]  | number }}
            </td>
            <td>
              {{netISum[4]  / 100000 | number }}
            </td>
            <td>
              {{netOSum[4] / 100000 | number }}
            </td>

          </tr>
          <tr>
            <td>
              Mean
            </td>
            <td>
              {{cpuSum[0]  | number  }}
            </td>
            <td>
              {{memSum[0]  | number  }}
            </td>
            <td>
              {{netISum[0]  | number  }}
            </td>
            <td>
              {{netOSum[0]  | number  }}
            </td>
          </tr>
          <tr>
            <td>
              Variance
            </td>
            <td>
              {{cpuSum[1]  | number  }}
            </td>
            <td>
              {{memSum[1]  | number  }}
            </td>
            <td>
              {{netISum[1]  | number  }}
            </td>
            <td>
              {{netOSum[1]  | number  }}
            </td>
          </tr>
          <tr>
            <td>
              Std. Dev
            </td>
            <td>
              {{cpuSum[2]  | number }}
            </td>
            <td>
              {{memSum[2]  | number }}
            </td>
            <td>
              {{netISum[2]  | number }}
            </td>
            <td>
              {{netOSum[2]  | number }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Resource Utilization</h4>
      <div class="row">
        <div class="col-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">CPU utilization (%)</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="cpuData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"></canvas>
            </div>
          </div>
        </div>

        <div class="col-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">CPU utilization (%) per node</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="cpuPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
            </div>
          </div>
        </div>


        <div class="col-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Memory utilization (%)</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="memData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"></canvas>
            </div>
          </div>
        </div>

        <div class="col-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Memory utilization (%) per node</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="memPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Average network input (Bytes)</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="netInData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
            </div>
          </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> Network input (Bytes) Per Node</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="netInPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
            </div>
          </div>
        </div>


      </div>

      <div class="row">


        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Average network input output (Bytes)</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="netOuData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
            </div>
          </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> Network input output (Bytes) Per Node</h4>
              <canvas baseChart [chartType]="'line'" [datasets]="netOuPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>




