


<div class="col-12  stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Configuration Details</h4>

      <form class="forms-sample">
        <div class="form-group">
          <label for="Blockchain">Blockchain Platform</label>
          <textarea style="white-space: pre;" class="form-control" id="Blockchain" name=Blockchain rows="2" value="{{blockchain}}" readonly>

          </textarea>
        </div>
        <div class="form-group">
          <label for="Consensus">Consensus</label>
          <textarea style="white-space: pre;" class="form-control" id="Consensus" name=Consensus rows="2" value="{{consensus}}" readonly>

          </textarea>

        </div>
        <div class="form-group">
          <label for="Receivers">Receivers Nodes</label>
          <textarea style="white-space: pre;" class="form-control" id="Receivers" name=Receivers rows="2" value="{{receivers}}" readonly>

          </textarea>
        </div>

        <div class="form-group">
          <label for="Nodes">Number of Nodes</label>
          <textarea style="white-space: pre;" class="form-control" id="Nodes" name=Nodes rows="2" value="{{nodes}}" readonly>

          </textarea>

        </div>
        <div class="form-group">
          <label for="datasize">Data Size</label>
          <textarea style="white-space: pre;" class="form-control" id="datasize" name=datasize rows="2" value="{{size}}" readonly>

          </textarea>
        </div>

      </form>
    </div>
  </div>
</div>
