<div class="page-header">
  <h3 class="page-title">
    ChartJs
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Charts</a></li>
      <li class="breadcrumb-item active" aria-current="page">ChartJs</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">CPU utilization (%)</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="cpuData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"></canvas>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Memory utilization (%)</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="memData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"></canvas>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">CPU utilization (%) per node</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="cpuPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Memory utilization (%) per node</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="memPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
      </div>
    </div>
  </div>


</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Average network input (Bytes)</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="netInData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Average network input output (Bytes)</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="netOuData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Network input (Bytes) Per container</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="netInPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Network input output (Bytes) Per container</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="netOuPerNodeData" [labels]="lineChartLabels" [options]="lineChartOptions" ></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Area chart</h4>
        <canvas baseChart [chartType]="'line'" [datasets]="areaChartData" [labels]="areaChartLabels" [options]="areaChartOptions" [colors]="areaChartColors"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doughnut chart</h4>
        <canvas baseChart [chartType]="'doughnut'" [datasets]="doughnutPieChartData" [labels]="doughnutPieChartLabels" [options]="doughnutPieChartOptions" [colors]="doughnutPieChartColors"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pie chart</h4>
        <canvas baseChart [chartType]="'pie'" [datasets]="doughnutPieChartData" [labels]="doughnutPieChartLabels" [options]="doughnutPieChartOptions" [colors]="doughnutPieChartColors"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Scatter chart</h4>
        <canvas baseChart [chartType]="'scatter'" [datasets]="scatterChartData" [options]="scatterChartOptions" [colors]="scatterChartColors"></canvas>
      </div>
    </div>
  </div>
</div>
